.wrapper {
    width: 1180px;
    height: 100%;

    margin: 0 auto;
    margin-top: 48px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }

.title {
    font: 700 36px/56px 'Jost';
    color: var(--text-secondary);
    text-align: center;
}
   
  @media screen and (max-width: 1250px) {
    .wrapper {
      width: auto;
    }
  }
  