.container {
  min-height: 90px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 550px) {
  .container {
    padding: 10px 0;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
