.menu__item {
  margin: 0;

  font:
    600 14px/24px "Jost",
    sans-serif;
  text-decoration: none;
  color: var(--link-bg);
}

.menu__item:hover {
  text-decoration: underline;
  color: var(--link-bg-hover);
}

.cart__container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.cart__container:hover .menu__item {
  text-decoration: underline;
  color: var(--link-bg-hover);
}
