.cart {
  width: 20px;
  height: 20px;
}

.cart__counter {
  position: relative;
}

.cart__counter::before {
  content: attr(data-count);
  position: absolute;
  bottom: -4px;
  right: -4px;
  border-radius: 50%;
  background-color: var(--button-primary);
  font: 400 8px/8px "Jost";
  color: var(--text-primary);
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
