.search__input {
  width: 100%;
  padding: 20px;

  border: none;
  border-radius: 4px;

  background-color: var(--background-color-input);
  
  font: 400 16px/22px "Jost";
  color: var(--text-secondary);
}

.search__input::-webkit-input-placeholder {
  font: 400 16px/22px "Jost";
  color: var(--text-placeholder);
}

.search__input::-moz-placeholder {
  font: 400 16px/22px "Jost";
  color: var(--text-placeholder);
}

.search__input:-ms-input-placeholder {
  font: 400 16px/22px "Jost";
  color: var(--text-placeholder);
}

.search__input::-ms-input-placeholder {
  font: 400 16px/22px "Jost";
  color: var(--text-placeholder);
}

.search__input::placeholder {
  font: 400 16px/22px "Jost";
  color: var(--text-placeholder);
}

.search__input:active,
.search__input:hover,
.search__input:focus {
  outline: 0;
  outline-offset: 0;
}
