@import url('./assets/styles/normalize.css');
@import url('./assets/fonts/fonts.css');
@import url('./assets/styles/variables.css');

:root {
  font-family: "Jost", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--background-color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

