.group__quantity {
  width: 188px;

  display: grid;
  grid-template-columns: 50px auto 50px;
  align-items: center;
  justify-items: center;
  gap: 5px;

  position: relative;
}

.quantity {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 78px;

  font: 400 16px/22px "Jost";
  color: var(--text-product-name);
}

.error {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;

  position: absolute;
  bottom: -18px;
  right: 0;

  font: 400 12px/18px "Jost";
  color: var(--text-error);
}

@media screen and (max-width: 630px) {
  .group__quantity {
    gap: 10px;
  }

  .quantity {
    min-width: 30px;

    font-size: 12px;
    line-height: 16px;
  }
}
