.rating {
  display: flex;
  gap: 9px;
}

/* for storybook */
.sb__wrapper {
  display: grid;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  gap: 20px;
}

.sb__bgc {
  padding: 20px;
  background-color: var(--background-color-secondary);
  color: var(--text-primary);
}
