.wrapper {
  width: max-content;
}

.menu {
  list-style-type: none;

  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  gap: 41px;
}

@media screen and (max-width: 650px) {
  .menu {
    gap: 20px;
  }
}
