.button {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background-color: var(--button-primary);
  cursor: pointer;
}

.button:hover {
  background-color: var(--button-hover);
}

.button:disabled {
  background-color: var(--button-disabled);
}

.group__quantity {
  display: flex;
  align-items: center;
  gap: 20px;
}

.quantity {
  width: max-content;
  margin: 0;
  padding: 0;
  font: 400 16px/22px "Jost";
  color: var(--text-product-name);
}
